@model coreFormsAndValidations.Models.LoginViewModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>UserDetail</title>
</head>
<body>
    <h1>User Details</h1>
    <p>Username: @Model.Username</p>
    <p> Usernme: @Model.Password</p>
</body>
</html>
